<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="developer.rohitsaw.split">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="Split Expense"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="flutter_deeplinking_enabled" android:value="true" />
            <!-- Invite links (https://split.rsaw409.me/joinGroup/<id>) open
                 this app directly, ahead of an installed web app: App Links,
                 verified through the web app's own
                 web/.well-known/assetlinks.json. Flutter routes the path,
                 /joinGroup/<id>. Where a link still lands in a browser tab,
                 web/index.html hands it here with an intent:// URL addressed
                 to this package. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="split.rsaw409.me"
                    android:pathPrefix="/joinGroup/" />
            </intent-filter>
        </activity>
        <!-- Declares split.rsaw409.me as this app's site, so the web app's
             page can ask Chrome (navigator.getInstalledRelatedApps, with the
             "play" entry in web/manifest.json) whether this app is installed,
             and hand invites to it ahead of the web app. -->
        <meta-data android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>